.table-container {
  padding: 10px;
}
.table {
  border-collapse: collapse;
  width: 100%;
  border: 1.5px solid red;
  border-bottom: 2px solid red;
}

.table-row {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}

.table-cell {
  flex: 1;
  display: flex;
  border-top: 2px solid #fd7b7b;
}

.table-body-row {
  display: flex;
}

.table-cell.id {
  width: 50px;
}

.table-cell.name {
  width: 15rem;
}
.table-body-row {
  display: flex;
}

.input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  font-size: 15px;
  color: red;
}

.table-cell-button {
  background-color: #ffc7c7;
  border-top: 2px solid #fd7b7b;
}

.column-cell {
  background-color: #ffc7c7;
}

.column-cell.id {
  font-weight: bold;
  color: red;
}

.column-cell.name {
  font-weight: bold;
  color: red;
}

.column-cell.date {
  font-weight: bold;
  color: red;
}

.column-cell.due {
  font-weight: bold;
  color: red;
}

.column-cell.fee {
  font-weight: bold;
  color: red;
}

.column-cell.contact {
  font-weight: bold;
  color: red;
}

.column-cell.email {
  font-weight: bold;
  color: red;
}

.column-cell.status {
  font-weight: bold;
  color: red;
  width: 7rem;
}

.column-cell.action {
  font-weight: bold;
  color: red;
}
